body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* Fix Leaflet icons */
.leaflet-marker-icon {
  margin-left: -12px !important;
  margin-top: -41px !important;
}

.leaflet-marker-shadow {
  margin-left: -12px !important;
  margin-top: -41px !important;
}
